extends layout

block content
  h1 Express Openshift Integration
  p This is a #{title} site where we wanted to integrate github directly to openshift cloud environment.
  p this site is build by Bishwajit Halder